[ComponentManager]
;--> Additional components for CmpBlkDrvCanClient
Component.1=CmpEventMgr
Component.2=CmpCAATypes
Component.3=CmpCAACallback
Component.4=CmpCAAMemBlockMan
Component.5=CmpCAATick
Component.6=CmpCAATickUtil
Component.7=CmpBlkDrvCANClient
Component.8=CmpCAASdoClient
Component.9=CmpCAACanL2
Component.10=CmpKvaserCANDrv
;<-- Additional components for CmpBlkDrvCanClient

[CmpRouter]
NumRouters=2
EnableParallelRouting=1
EnableLoopDetection=1
0.MainNet=ether x
0.NumSubNets=1
0.SubNet.0.Interface=BlkDrvShm
1.MainNet=BlkDrvTcp
1.NumSubnets=0

[CmpGwCommDrvTcp]
ListenPort=1217

[CmpBlkDrvTcp]
ListenPort=11743
Name=BlkDrvTcp

[CmpBlkDrvCom]
;Example for a configuration of this block driver:
;EnableAutoAddressing=1 should be set to activate the
;Mainnet-Mainnet-Communication on serial line.
;Com.0.Port=1
;Com.0.Name=MyCom
;Com.0.Baudrate=115200
;Com.0.EnableAutoAddressing=1

;--> Additional content for CmpBlkDrvCanClient
;To activate the CmpBlkDrvCanClient
;use the following template and modify it properly
;[CmpRouter]
;NumRouters=1
;0.MainNet=ether x
;0.NumSubNets=2
;0.SubNet.0.Interface=BlkDrvShm
;0.Subnet.1.Interface=BlkDrvCanClient

;
[CmpBlkDrvCanClient]
TaskPrio=95	   ; TASKPRIO_HIGH_END see SysTaskItf.h
0.Name=BlkDrvCanClient
0.Baudrate=250
0.NetId=1		   ; CANbus Network Id (0..n)
0.NodeId=21
;0.ServerId=1
0.BlockTransfer=1
;
[CmpCAASdoClient]
MaxSegmentsPerCycle=100 ; for block download: maximum of sent segments per cycle; 0 means infinity
;
;<-- Additional content for CmpBlkDrvCanClient

[CmpChannelMgr]
ChannelTimeoutMs=5000

[CmpSecureChannel]
CertificateHash=317d98f0b81894dfb5606f3fb0b08bcb43f566dc
