[ComponentManager]
;--> Additional components for CmpBlkDrvCanClient
;Component.1=CmpBlkDrvCANClient
;Component.2=CmpCAASdoClient
;Component.3=CmpCAACanL2
;Component.4=CmpPCANBasicDrv
;Component.5=CmpCANFoxDrv
;Component.6=CmpIxxatCANDrv
;<-- Additional components for CmpBlkDrvCanClient
;--> Additional components for CmpBlkDrvUsb
;Component.6=CmpUsbMpdUsbLib
;<-- Additional components for CmpBlkDrvUsb

[CmpRouter]
;activate EnableParallelRouting only, if the Gateway
;should forward received broadcasts to other networks
;EnableParallelRouting=1
0.MainNet=ether x

[CmpGwCommDrvTcp]
ListenPort=1217

[CmpBlkDrvUdp]
DefaultPortIndex=3

[CmpBlkDrvCom]
;Example for a configuration of this block driver:
;Com.0.Port=1
;Com.0.Name=MyCom
;Com.0.Baudrate=115200

[CmpBlkDrvCanClient]
;CycleTimeMs=1
;NumChannels=1		   ; Number of block driver instances
;0.Name=BlkDrvCanClient
;0.NetId=0		   	   ; CANbus Network Id (0..n)
;0.Baudrate=1000   	   ; CANbus Baudrate in kbit/s
;0.NodeId=1		   	   ; unique NodeId
;0.BlockTransfer=1 	   ; Use block transfer for more performance

[CmpCAASdoClient]
;MaxSegmentsPerCycle=0 ; for block download: maximum of sent segments per cycle; 0 means infinity

[CmpLog]
Logger.0.Name=Gateway
;Logger.0.Filter=0xFFFFFFFF
Logger.0.MaxEntries=1000
Logger.0.MaxFileSize=500000
Logger.0.MaxFiles=3
Logger.0.Backend.0.ClassId=0x0000010B   ;sends logger messages to SysOut
Logger.0.Backend.1.ClassId=0x00000104   ;writes logger messages in a file
[SysFile]
;PlaceholderFilePath=C:\Program Files (x86)\CODESYS 3.5.19.0\GatewayPLC\, $Firmware$

[CmpSecureChannel]
CertificateHash=c961368a9025e75d147fd5f3412b125d3718ec8c
