# Required PIP packages with versions
python-can==4.6.1
cffi==2.0.0
clr-loader==0.2.7.post0
pycparser==2.23
pythonnet==3.0.5
PyYAML==6.0.2
robotframework==7.3.2
niveristand==3.2.3
pylint==3.3.8
robotframework-robocop==6.6.1
psutil==7.0.0
openpyxl==3.1.5
canopen==2.4.1
paramiko==4.0.0
PyVISA==1.15.0
nixnet==1.0.0
pyserial==3.5